pihole.myhome.me {
	encode zstd gzip
	redir / /admin{uri}
	reverse_proxy 0.0.0.0:1080
}

portainer.myhome.me:80 {
	reverse_proxy portainer:9000
}

adguard.myhome.me {
	reverse_proxy adguard:8080
}

:9090 {
	reverse_proxy 127.0.0.1:9000
}

#plex.myhome.me {
#	reverse_proxy 192.168.4.101:32400
#}

#openwebui.myhome.me {
#	reverse_proxy 192.168.4.101:8080
#}

#:80 {
#	respond "Hello Candy!!!"
#}
